    <footer class="footer">
      <div class="footer-container">
        <!-- Coluna 1: Vitis Souls -->
        <div class="footer-column">
          <h4>Vitis Souls</h4>
          <p>Transformando vidas com sensibilidade, verdade e acolhimento.</p>
          <p>
            Contato:
            <a href="mailto:julia@vitissouls.com">julia@vitissouls.com</a>
          </p>
        </div>

        <!-- Apenas para mobile: linha com Menu e Redes -->
        <div class="footer-columns-row">
          <div class="footer-column">
            <h4>Menu</h4>
            <ul>
              <li><a href="#sobre">Sobre</a></li>
              <li><a href="#inscricao">Inscrição</a></li>
              <li><a href="#objetivo">Objetivo</a></li>
              <li><a href="#duvidas">Contato</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>Redes Sociais</h4>
            <div class="footer-socials">
              <a href="https://www.instagram.com/vitissouls/" target="_blank"
                ><img src="assets/imgs/instagram.svg" alt="Instagram"
              /></a>
              <a href="https://www.tiktok.com/@vitissouls_/" target="_blank"
                ><img src="assets/imgs/tiktok.svg" alt="TikTok"
              /></a>
              <a href="https://www.youtube.com/@VitisSouls" target="_blank"
                ><img src="assets/imgs/youtube.svg" alt="YouTube"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 Vitis Souls. Todos os direitos reservados.</p>
      </div>
    </footer>
