      <div class="quick-nav">
        <p><strong>Tópicos da competição:</strong></p>
        <ul class="nav-list">
          <li><a href="#sobre">O que é a Competição</a></li>
          <li><a href="#inscricao">Inscrição</a></li>
          <li><a href="#marca">Sobre a Vitis Souls</a></li>
          <li><a href="#objetivo">Objetivo dos Conteúdos</a></li>
          <li><a href="#categorias">Categorias da Competição</a></li>
          <li><a href="#regras">Regras Gerais</a></li>
          <li><a href="#info-competicao">Desclassificação</a></li>
          <li><a href="#info-competicao">Critérios de Avaliação</a></li>
          <li><a href="#info-competicao">Divulgação dos Resultados</a></li>
          <li><a href="#duvidas">Entre em Contato</a></li>
        </ul>
      </div>
