<!-- NOVA SECAO: REGRAS GERAIS -->
<section id="regras" class="section" data-aos="fade-up">
  <h2><i data-feather="book-open"></i> Regras Gerais</h2>
  <ul>
    <li>A inscrição é individual (porém podendo conter mais participantes).</li>
    <li>
      Cada participante pode se inscrever em quantas categorias desejar (cada
      categoria precisa de uma inscrição separada).
    </li>
    <li>Inscrição obrigatória por meio do formulário.</li>
    <li>
      Após confirmação do pagamento, o participante receberá por e-mail um kit
      de materiais oficiais da Vitis Souls para uso na produção do conteúdo
      (esse material é de uso obrigatório).
    </li>
    <li>Idade mínima: 18 anos.</li>
    <li>
      <strong>Inscrições até o final de agosto de 2025</strong>
    </li>
  </ul>
</section>
