      <section id="sobre" class="section" data-aos="fade-up">
        <h2><i data-feather="info"></i> O que é a Competição?</h2>
        <p>
          <strong>A Competição Vitis Souls</strong> é uma iniciativa criada para
          <strong>revelar e valorizar o talento</strong> de estudantes e
          criativos em três áreas fundamentais da comunicação:
          <span>Reels</span>, <span>Pitch de Vendas</span> e
          <span>Design</span>.
        </p>
        <p>
          <strong>Categorias:</strong> <span>Reels</span> -
          <span>Pitch de Vendas</span> -
          <span>Designer</span>
        </p>
        <p>
          <strong>Premiação:</strong>
          <span>R$ 1.000,00</span> para o vencedor de cada categoria.
        </p>
      </section>
